body {

    font-family: Arial;
    background: #111827;
    color: white;
    text-align: center;
    margin: 0;
    padding: 40px;

}

nav {
    margin-bottom: 30px;
}

nav a {
    margin: 0 10px;
    color: #22c55e;
    text-decoration: none;
    font-weight: bold;
}

.title {
    margin-bottom: 30px;
}

.dashboard {

    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

}

.card {

    background: #1f2937;
    padding: 25px;
    width: 180px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 255, 200, 0.2);
    transition: 0.3s;

}

.card:hover {

    transform: scale(1.05);

}

.card h2 {
    color: #22c55e;
}

button {

    margin-top: 30px;
    padding: 12px 25px;
    background: #22c55e;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;

}

button:hover {
    background: #16a34a;
}

#updateTime {
    margin-top: 15px;
    color: #9ca3af;
}

table {
    width: 60%;
    margin: auto;
    border-collapse: collapse;
}

th,
td {
    padding: 12px;
    border-bottom: 1px solid #374151;
}

th {
    color: #22c55e;
}